<html>

<body class="body">

    <body>
        <h3>Sensor DB Homepage</h3>
        <p>Use <bold style="font-style: italic"> http://{{ ip }}:69/measurements?date=yyyy-mm-dd" </bold>to find
            sensor values.

            <p> Example for todays measurements:
                <bold style="font-style: italic;"> http://{{ ip }}:69/measurements?date={{date}}</bold>
            </p>
        </p>
        <p>
            Use <bold style="font-style: italic"> "http://{{ host_ip }}:69/measurements"</bold> with insomnia and post a
            json text:
            { "Temp" : "24", "Hum" : "32", "Press" : "103409", "CO2" : "686", "TVOC" : "43", "Rain" :
            "false", "Wind" : "0"} as an example to test the REST API
            <br /><br />
            (If the device is on the same network as the REST API <bold style="font-style: italic"> {{ host_ip }}
            </bold> can be used

        </p>

    </body>


</body>

</html>