<html>

<body class="body">

    <body>
        <h3>Sensor DB Homepage</h3>

        <b>Today's latest measure from weather station:</b>
        <p>
            {{ newest }}
        </p>
        <b>Information</b>
        <p>
            <p><b>Units for: </b>Temperature = celsius, Humidity = percent, Pressure = pascal, CO2 = parts per
                billon, TVOC = parts per billon, Rain = true or false, Wind = m/s</p>

            For all of today's measurements in a easy to view list <a href="/user/measurements?date={{date}}">click
                here</a>
        </p>
        <p>
            For GET request in json: <a href="/measurements?date={{date}}">click here</a>

            <p>
                POST example: {"Temp" : "24", "Hum" : "32", "Press" : "103409", "CO2" : "686", "TVOC" : "43", "Rain" :
                "false", "Wind" : "0"} {{date}}
            </p>


    </body>


</body>

</html>